// -----------------------------------------------------------------------------
// This file contains basic typography styles.
// -----------------------------------------------------------------------------

body {
  font-family: $f-basic;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

h1, h2, h3,
.sw-h1, .sw-h2, .sw-h3 {
  font-family: $f-fancy;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  margin: 0;
  color: $c-font;
}

h1, .sw-h1 {
  font-size: 35px;
  line-height: 1;

  @media (min-width: $media-sm) {
    font-size: 45px;
  }

  @media (min-width: $media-lg) {
    font-size: 80px;
  }
}

h2, .sw-h2 {
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $media-sm) {
    font-size: 26px;
    line-height: 32px;
  }

  @media (min-width: $media-lg) {
    font-size: 28px;
    line-height: 34px;
  }
}

h3, .sw-h3 {
  font-size: 20px;
  line-height: 24px;

  @media (min-width: $media-lg) {
    font-size: 24px;
    line-height: 26px;
  }
}

p, span {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $c-font;
  letter-spacing: 0;

  @media (min-width: $media-md) {
    font-size: 15px;
    line-height: 24px;
  }
}

p {
  margin: 0 0 20px;
}

strong {
  font-weight: 700;
}

a, button {
  @include sw-on-event(true) {
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }

  color: $c-font;
}
