// -----------------------------------------------------------------------------
// This file contains style variables.
// -----------------------------------------------------------------------------

/** Theme colors */
$c-black: #000;
$c-white: #fff;
$c-blue: #5240e4;
$c-darkblue: #1b415c;
$c-seegreen: #367982;
$c-lightgreen: #b8d3d0;
$c-yellow: #f7f78b;
$c-orange: #e86c51;

$c-primary: $c-darkblue;
$c-secondary: $c-white;
$c-gradient-primary: $c-darkblue;
$c-gradient-secondary: $c-seegreen;
$c-gradient-tertiary: $c-lightgreen;
$c-font: $c-white;
$c-sunrise: $c-yellow;
$c-sunset: $c-orange;

/**
 * Container's maximum width
 * @type Length
 */
$site-width: 1440px;

/** Theme Fonts */
$f-basic: 'Noto Sans JP', sans-serif;
$f-fancy: 'Russo One', sans-serif;

/**
 * Grid breakpoints

 * Define the minimum dimensions at which your layout will change,
 * adapting to different screen sizes, for use in media queries.
 */
$media-xs: 576px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;
$media-xl: 1460px;
